{% extends 'base.html.twig' %}

{% block title %}Hello SecuriteController!{% endblock %}

{% block body %}




  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="img/product/single-product/product_1.png">
                <img src="../assets/img/{{article.getImage()}}" />
              </div>
        
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{article.titre}}</h3>
            <h2>{{article.auteur.getAuteur()}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> {{article.theme.getTheme()}}</a>
              </li>
              <li>
                <a href="#"> <span>Langue </span>{{article.langue.getLangue()}}</a>
              </li>
            </ul>
           
            <div class="card_area d-flex justify-content-between align-items-center">

                  
       
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="product_image_area section_padding">
    <div class="container">
{% for item in editions %}
    

         <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6">
         
              <div class="review_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                    </div>
                    <div class="media-body">
                      <h3>Num Edition : {{ item.getNumEdition}}</h3>
                                           <h4>Date Sortie  : {{ item.getDateSortie|date("m/d/Y")}}</h4>
                                           <h4>Prix  : ${{ item.getPrix}}  {% if item.getQuantite == 0 %}
                                          <a href="#" class="btn btn-danger">Out Of Stock</a></h4>

                                           {% else %}
                                               <a href="{{ path('app_panier_ajouter' , {'id_edition': item.id}) }}" class="btn_3">add to cart</a></h4>
                                           {% endif %}  

                    </div>
                  </div>
              
                </div>
                
              
            </div>
  
          </div>
        </div>
      </div>
      {% endfor %}
   </div>
      </div>
{% endblock %}
