{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Admin </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Client And Admins <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Auteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Commandes</a>
      </li>
    </ul>
 
  </div>
</nav>
{% endblock %}
{% block body %}

    <h1>Ajouter Article </h1>
 <form method="POST">
 {{form_start(form)}}
      <div class="form-group">{{ form_row(form.titre) }}<span </div>
     <div class="form-group">{{ form_row(form.image) }}<span </div>
     <div class="form-group">{{ form_row(form.auteur) }}<span </div>
     <div class="form-group">{{ form_row(form.langue) }}<span </div>
     <div class="form-group">{{ form_row(form.type) }}<span </div>
     <div class="form-group">{{ form_row(form.theme) }}<span </div>
     <div class="form-group">{{ form_row(form.Ajouter) }}<span </div>

  {{form_end(form)}}

 </form>
{% endblock %}
{% block footer %}
{% endblock %}
